###> Generated folders and files ###
/var/
/vendor/
/node_modules/
/public/bundles/
/public/assets/
/assets/vendor/
/composer.lock

###> Sensitive configuration files ###
/.env
/.env.local
/.env.dev
/.env.test
/.env.local.php
/.env.*.local
/config/secrets/
/config/secrets/prod/prod.decrypt.private.php

###> Test-related and PHPUnit files ###
/phpunit.xml
/phpunit.xml.dist
/.phpunit.result.cache

###> PHPStorm-specific files ###
/.idea/
/*.iml

###> Cache and logs ###
/var/cache/
/var/logs/
/var/sessions/